version: '3.8'

services:
  database:
    image: postgres:17
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d tinder" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped


  liquibase:
    image: liquibase/liquibase:4.29.2
    container_name: liquibase
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - ./db/changelog/:/liquibase/db/changelog/
    command: [
      /liquibase/liquibase,
      --username=postgres,
      --password=root,
      --driver=org.postgresql.Driver,
      --url=jdbc:postgresql://database:5432/tinder,
      --changeLogFile=/db/changelog/changelog-master.xml,
      update,
    ]
    environment:
      - LIQUIBASE_SECURE_PARSING=false

  config-service:
    image: config-service:latest
    container_name: config-service
    build:
      context: ./config-service
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    depends_on:
      - database
      - liquibase
    restart: on-failure

  eureka-service:
    image: eureka-service:latest
    container_name: eureka-service
    build:
      context: ./eureka-service
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    depends_on:
      - config-service
    restart: on-failure

  gateway-service:
      image: gateway-service:latest
      container_name: gateway-service
      environment:
        - 'PAGINATION_MAX_SIZE=50'
        - 'JWT_SECRET=popopo'
        - 'JWT_EXPIRED=1000000'
      build:
        context: ./gateway-service
        dockerfile: Dockerfile
      ports:
        - "8080:8080"
      depends_on:
        - eureka-service
      restart: on-failure

  location-service:
    image: location-service:latest
    container_name: location-service
    build:
      context: ./location-service
      dockerfile: Dockerfile
    ports:
      - "8180:8180"
    depends_on:
      - gateway-service
    restart: on-failure

  fabric-texture-service:
    image: fabric-texture-service:latest
    container_name: fabric-texture-service
    build:
      context: ./fabric-texture-service
      dockerfile: Dockerfile
    ports:
      - "8181:8181"
    depends_on:
      - gateway-service
    restart: on-failure

  auth-service:
    image: auth-service:latest
    container_name: auth-service
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    ports:
      - "8182:8182"
    depends_on:
      - gateway-service
    restart: on-failure

  spacesuit-service:
    image: spacesuit-service:latest
    container_name: spacesuit-service
    build:
      context: ./spacesuit-service
      dockerfile: Dockerfile
    ports:
      - "8183:8183"
    depends_on:
      - gateway-service
    restart: on-failure

  user-data-service:
      image: user-data-service:latest
      container_name: user-data-service
      build:
        context: ./user-data-service
        dockerfile: Dockerfile
      ports:
        - "8184:8184"
      depends_on:
        - gateway-service
      restart: on-failure

volumes:
  postgres:
