version: '3.8'

services:
  database:
    image: postgres:17
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d tinder" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped


  liquibase:
    image: liquibase/liquibase:4.29.2
    container_name: liquibase
    depends_on:
       database:
          condition: service_healthy
    volumes:
      - ./src/main/resources/db/changelog/:/liquibase/db/changelog/
    command: [
      /liquibase/liquibase,
      --username=postgres,
      --password=root,
      --driver=org.postgresql.Driver,
      --url=jdbc:postgresql://database:5432/tinder,
      --changeLogFile=/db/changelog/changelog-master.xml,
      update,
    ]
    environment:
      - LIQUIBASE_SECURE_PARSING=false
  app:
    image: 'tinder.jar'
    ports:
      - "8080:8080"
    depends_on:
      - database
      - liquibase
    env_file:
      - .env
volumes:
  postgres:
